body {
  background-color: white;
}
h1 {
  color: blueviolet;
  font-size: 30px;
  margin-top: 160px;
}
.pic {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p {
  margin: 9px;
  font-size: 20px;
}
.pic {
  display: flex;
  height: 80px;
  border: none;
  border-radius: 20px;
}
